.bottom-nav{
    position:fixed !important;
    bottom:0 !important;
    left:0 !important;
    right:0 !important;

    display:flex;
    justify-content:space-around;
    align-items:center;

    height:70px;

    background:#111827;
    border-top:1px solid #2b3347;

    z-index:99999 !important;
}

.bottom-nav-item{
    flex:1;

    background:none;
    border:none;

    color:#8b94a8;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    gap:3px;

    height:100%;

    cursor:pointer;
}

.bottom-nav-icon{
    font-size:22px;
}

.bottom-nav-title{
    font-size:11px;
}

.bottom-nav-item.active{
    color:#E74C5B;
    border-top: 3px solid #E74C5B;
}