*{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
  background: #0f172a;
  color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
b {
  color: white;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 16px;
}

input,
select {
  background: #1e293b;
  color: white;
  border: 1px solid #475569;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    180deg,
    #050816 0%,
    #08142b 100%
  );

  color: white;
  font-family: Arial, sans-serif;
}

body {
  overflow-x: hidden;
}