.bubble-layer{
    position:absolute;
    inset:0;
    pointer-events:none;
    overflow:hidden;
    z-index:5;
}


.bubble{
    position:absolute;
    border-radius:50%;

    background:
        /* yuqoridagi kuchli oq highlight */
        radial-gradient(
            circle at 30% 22%,
            rgba(255,255,255,.95) 0%,
            rgba(255,255,255,.55) 5%,
            transparent 16%
        ),

        /* pushti aks */
        radial-gradient(
            circle at 72% 30%,
            rgba(255,120,220,.65) 0%,
            rgba(255,120,220,.20) 18%,
            transparent 38%
        ),

        /* ko'k aks */
        radial-gradient(
            circle at 28% 72%,
            rgba(70,190,255,.65) 0%,
            rgba(70,190,255,.20) 20%,
            transparent 42%
        ),

        /* binafsha ichki rang */
        radial-gradient(
            circle at 55% 55%,
            rgba(145,70,255,.38) 0%,
            rgba(100,50,220,.18) 42%,
            transparent 72%
        ),

        /* umumiy shaffoflik */
        radial-gradient(
            circle at 50% 50%,
            rgba(255,255,255,.12) 0%,
            rgba(180,120,255,.12) 45%,
            rgba(40,20,100,.08) 75%,
            transparent 100%
        );

    border:1px solid rgba(255,255,255,.55);

    box-shadow:
        inset 4px 5px 10px rgba(255,255,255,.35),
        inset -8px -10px 16px rgba(80,20,180,.35),
        0 0 10px rgba(255,255,255,.18),
        0 0 25px rgba(170,70,255,.45);

    animation:
        bubbleFloat 8s ease-in-out infinite,
        bubblePulse 5s ease-in-out infinite;
}


.bubble::before{
    content:"";
    position:absolute;

    width:32%;
    height:18%;

    top:15%;
    left:20%;

    border-radius:50%;

    background:rgba(255,255,255,.85);

    filter:blur(2px);

    transform:rotate(-25deg);

    box-shadow:
        0 0 8px rgba(255,255,255,.8),
        0 0 16px rgba(255,255,255,.35);
}


.bubble::after{
    content:"";
    position:absolute;

    width:45%;
    height:35%;

    right:10%;
    bottom:12%;

    border-radius:50%;

    background:
        radial-gradient(
            ellipse,
            rgba(90,210,255,.55) 0%,
            rgba(150,70,255,.35) 35%,
            rgba(255,80,210,.18) 55%,
            transparent 75%
        );

    filter:blur(4px);

    transform:rotate(-20deg);
}


@keyframes bubbleFloat{
    0%{
        transform:translateY(0) scale(1);
    }

    50%{
        transform:translateY(-10px) scale(1.06);
    }

    100%{
        transform:translateY(0) scale(1);
    }
}

@keyframes bubblePulse {

    0%,100%{
        filter:brightness(1);
    }

    50%{
        filter:brightness(1.35);
    }

}